.profile-card {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 250px;
  text-align: center;
  border-radius: 50%;
  padding: 2rem;
  font-family: sans-serif;

  img {
    // border-radius: 50%;
    width: 10px !important;
    height: 10px !important;
  }
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

p {
  font-size: 16px;
  margin: 5px 0;
  color: #666;
}
